@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fefdfd;
    --foreground: #ededed;
  }
}
body {
  background-color: #f9f9f9; /* or white: #fff */
  color: #000;
  margin: 0;
  font-family: Arial, sans-serif;
}


#__next-route-announcer {
  display: none !important;
}
